.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #edeaea;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex: 1;
}

.profile-wrapper-call{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #b2aaaa;
    border-radius: 50%;
    margin-right: 12px;
}

.chat-name {
  font-weight: 500;
}

.chat-date {
  font-size: 12px;
  color: green;
}

.chat-time {
  margin-right: 10px;
}

.chat-icon svg {
  display: block;
  cursor: pointer;
}
