.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.contact-list h2{
    font-size: 16px;
    font-weight: 500;
    color: #495057;
}

.user-profile-pic-wrapper{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(228, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}