 .chats-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid rgb(221, 219, 219);
    /* justify-content: center;      */
}

.main-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 22px;
    width: 100%;
}

.main-head h1 {
    font-size: 28px;
    font-weight: 600;
    color: #495057;
}

.add-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcefe2;
    color: "#668f73ff";
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.add-btn:hover {
    background-color: #4eac6d;
    cursor: pointer;
    color: white !important;
    transform: scale(1.02);
}

.search-input {
    width: 90%;
    border: 1px solid rgb(236, 231, 231);
    border-radius: 12px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-search-bar {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 22px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.input-search-bar:focus {
    background-color: #f8faf9;
}

.chats-section .favourite-contact-section {
    margin-top: 12px;
}

.recent-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    scrollbar-width: none;
    overflow-y: auto !important; 
    margin: auto;
    padding-bottom: 60px;
    scroll-behavior: smooth;
}

.home-nav-fixed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  left: 0;
}
