.profile-wrapper-call{
    display: flex;
}
.contact-name{
    font-size: 16px !important;
    font-weight: 500;
}
.contact-wrapper-call{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.contact-list-div{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
}
.icon-wrapper-three {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; 
}
.icon-wrapper-three svg{
    cursor: pointer;
    transition: all 0.3s ease;
}
.icon-wrapper-three svg:hover{
    color: #10903c !important;
}
.contact-profile-wrapper{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #b2aaaa;
    border-radius: 50%;
}
.dropdown-contact {
    position: absolute;
    top: 100%;
    right: 0; 
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 100;
    font-size: 14px;
}
.icon-wrapper-three .close-icon:hover{
    color: rgb(216, 129, 129) !important;
}