.dropdown-contact-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.edit-div,.block-div,.delete-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}
.edit-div,.block-div,.delete-div{
    font-size: 14px;
    color: #817e7e;
}
.contact-delete-icon{
    color: #FF3B30 ;
}
.delete-div .contact-delete-icon:hover{
    color:  #B0B0B0!important;
}
.block-div .contact-block-icon{
    color: #F44336   ;
}
.block-div .contact-block-icon:hover{
    color: #B0B0B0 !important;
}